* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #ebe9e9;
}
.slider {
  position: absolute;
  inset: 10px 50px 10px 10px;
  background: #e4e4e4;
  border-radius: 20px;
}
.slider .slides {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 200px;
  height: 280px;
  background: var(--img);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slides:nth-child(1),
.slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
}
.slides:nth-child(3) {
  left: calc(50% + 260px);
  background-size: cover;
}
.slides:nth-child(4) {
  left: calc(50% + 480px);
  background-size: cover;
}
.slides:nth-child(5) {
  left: calc(50% + 700px);
  background-size: cover;
}
.slides:nth-child(6) {
  left: calc(50% + 1000px);
  background-size: cover;
}
.buttons {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
.buttons span {
  position: relative;
  width: 50px;
  height: 50px;
  background: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.buttons span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(225deg) translate(-4px, 4px);
}
.buttons span:nth-child(2)::before {
  transform: rotate(-315deg) translate(-4px, 4px);
}
.buttons span:active {
  opacity: 0.5;
}
.content {
  position: relative;
  padding: 40px;
  margin-bottom: 50px;
  max-width: 600px;
  transition: 0.5s;
  transition-delay: 0;
  z-index: 100;
  opacity: 0;
  color: #fff;
}
.slides:nth-child(1) .content,
.slides:nth-child(2) .content {
  opacity: 1;
  transition-delay: 0.5s;
}
h2 {
  font-size: 60px;
  font-weight: 600;
}
p {
  font-size: 18px;
}
.avengers{
  display: flex;
  color: rgb(16, 14, 12);
  width: 100%;
  align-items: center;
  margin-top: 40px;
}
.avengers, img{
  width: 40%;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 400px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
